
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.venv/
translations/
babel.cfg
messages.pot
sample outputs
model_9.h5
remove_missing_features.py
features_flickr8k.pkl
features.pkl
image_captioning_model.h5
remove_missing_features.py
tokenizer_flickr8k.pkl
tokenizer.p
migrations/
__pycache__/
translations/
.vscode/
format_json.py
generated_captions.txt
generated_descriptions.txt
image_captioning_model.h5
tokenizer_flickr8k.pkl
tokenizer.pkl
remove_missing_features.py
extract_features.py
clean_descriptions.py
features.pkl
features_flickr8k.pkl
model_9.h5
descriptions.txt
