
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

venv
translations
babel.cfg
messages.pot
sample outputs
model_9.h5
remove_missing_features.py