body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #E5E4E2;
    background-image: url('/static/images/ava3.png');
    background-repeat: no-repeat;
    background-position-x: 1150px;
    background-position-y: 220px;
    background-size: 520px
}

#horizontal-line{
    width : 50%;
    height: 7px;
    border: 0 none;
    margin-right: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 90px;
    background-color: #36454F;
}

h1 {
    color: #36454F;
    font-size: 100px;
    margin-right: 910px;
    margin-left: 20px;
    font-family: Arial black, Helvetica, sans-serif;
}

p {
    color: #36454F;
    font-size: 20px;
    margin-right: 890px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttons {
    margin-top: 80px;
    margin-right: 900px;
    margin-left: 20px;
}
.btn {
    background-color: #E1B7D0;
    color: white;
    padding: 25px 70px;
    margin: 30px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 50px;
}
.btn:hover {
    background-color: #DC98C0;
}

.button {
    margin-top: 100px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
    display: flex;

}

.btn1{
    color: #36454F;
    margin-right: 220px;
    margin-left: 0px;
    padding: 10px 20px;
    background-color: #E5E4E2;
    border: #F9E8C9;
    font-size: 30px;
}

.btn2{
    color: #36454F;
    margin-right: 240px;
    margin-left: 0px;
    padding: 10px 20px;
    background-color: #E5E4E2;
    border: #F9E8C9;
    font-size: 30px;
}

.btn3{
    color: #36454F;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px 20px;
    background-color: #E5E4E2;
    border: #F9E8C9;
    font-size: 30px;
}

.btn1:hover{
    color: #A9A9A9;
}

.btn2:hover{
    color: #A9A9A9;
}
.btn3:hover{
    color: #A9A9A9;
}
p {
    text-align: justify;
    font-family: 'Roboto', sans-serif; /* Use the Google Font you selected */
    font-size: 20px;
    line-height: 1.6;
    color: #333;
}

/* Responsive adjustment for smaller screens */
@media (max-width: 700px) {
    .button {
        margin-top: -10%;
        margin-left: 20px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }
    .btn1{
        margin: auto;
        font-size: 15px;
        padding: 10px 5px;
    } 
    .btn2{
        margin: auto;
        font-size: 15px;
        padding: 10px 5px;
    } 
    .btn3{
        margin: auto;
        font-size: 15px;
        padding: 10px 5px;
    }
    #horizontal-line{
        width: 90%;
    }
    h1{
        flex-direction: column-reverse;
        margin: 50px 0;
        font-size: 50px;
        margin-top: -20%;
        margin-left: -3%;
    }
    p{
        font-size: 10px;
        margin: 50px 0;
    }
    .btn{
        padding: 10px 20px;
        font-size: 10px;
        margin: 50px 0;
        justify-content: center;
        margin-left: 100px;
    }
}

@media (max-width: 390px) {
    .button {
        margin-top: -10%;
        margin-left: 20px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }
    .btn1{
        margin: auto;
        font-size: 15px;
        padding: 10px 5px;
    } 
    .btn2{
        margin: auto;
        font-size: 15px;
        padding: 10px 5px;
    } 
    .btn3{
        margin: auto;
        font-size: 15px;
        padding: 10px 5px;
    }
    #horizontal-line{
        width: 90%;
    }
    h1{
        flex-direction: column-reverse;
        margin: 50px 0;
        font-size: 50px;
        margin-top: -20%;
        margin-left: -12%;
    }
    h4{
        font-size: 20px;
        margin: 50px 0;
    }
    .buttons{
        margin-left: 20%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .btn{
        margin: auto;
        padding: 20px 40px;
        font-size: 20px;
        position: fixed;
    }
}