/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #E5E4E2;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Sticky Header */
header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    position: fixed; /* Make the header sticky */
    top: 0; /* Sticks to the top of the screen */
    width: 98.9%;
    z-index: 1000; /* Ensure it stays above other content */
}

/* Wrapper for main content and container */
.main-wrapper {
    display: flex;
    flex-direction: row;
    height: 80vh;
    padding-top: 70px;
    align-content: flex-start;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

/* Scrollable main content */
.main-content {
    flex: 1;
    width: 250px; /* Adjust the width of the sidebar as needed */
    overflow: hidden; /* Allows scrolling for the content */
    padding: 50px;
    background-color: #E5E4E2;
    margin-left: 13%;
    height: 100%;
}

/* For Webkit browsers (Chrome, Safari) */
.main-content::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

/* Sticky container at the bottom */
.container {
    background-color: #A9A9A9;
    padding: 10px;
    position: fixed;
    bottom: 40%; /* Sticks to the bottom of the screen */
    width: 50%;
    margin-left: 30%;
    z-index: 100;
    border-radius: 30px;
}

/* Form styling */
.form-group {
    margin-bottom: 10px;
    display: inline-table;
}

.control-label {
    font-size: 1.2em;
    color: #8b4513;
}

.form-control {
    padding: 10px;
    border-radius: 5px;
    border: #BFACE2;
    background-color: #E5E4E2;
    width: 67%;
    margin-left: 10%;
}

.btn-success {
    background-color: #E5E4E2;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 700%;
}

.btn-success:hover {
    background-color: #A9A9A9;
}

/* Image and result styling */
img {
    max-width: 100%;
    border-radius: 10px;
}

.entry{
    margin-left: 70%;
}

h2, h3 {
    color: #000000;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: left;
    margin-left: -3%;
    margin-top: -60px;
    position: fixed;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

hr {
    border: 1px solid #645CBB;
}

/* Add some padding for the buttons */
.btn {
    margin-top: 10px;
}

.sidebar {
    background-color: #A9A9A9;
    width: 250px;
    height: 1050px;
    padding: 80px;
    box-sizing: border-box;
    position: fixed;
    margin-top: -7%;
}

.user-account {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: -50%;
    color: #805f31;
    border-radius: 10px;
}

.user{
    margin-top: 10px;
    margin-right: 76%;
    margin-left: 13%;
    border-radius: 10px;
}

.btn01{
    border-radius: 10px;
    background-color: #A9A9A9;
}

/* Basic styling for the content area */
.content {
    padding: 20px;
    margin-top: 7vh;
    position: sticky;
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 3em;
    color: #36454F;
    white-space: nowrap;
    text-align: center;
}

/* Typing effect */
.typing-effect {
    display: inline-block;
    overflow: hidden;
    border-right: 3px solid #A9A9A9; /* Cursor effect */
}


.btn0{
    background-color: #A9A9A9;
    border-radius: 10px;
    margin-top: 10px;
    margin-right: 10px;
    justify-content: flex-end;
}

.tab{
    display: flex;
    justify-content: flex-end;
}

.btnn{
    background-color: #A9A9A9;
    border-radius: 10px;
    justify-content: flex-end;
    bottom: 10px;
    position: fixed;
    margin-right: 10px;
}

.back{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 91vh
}

.btn1{
    background-color: #A9A9A9;
    border-radius: 10px;
}

.user-account img {
    margin-top: 50%;
    width: 40px;
    height: 40px;
    margin-left: -60%;
}

h2 {
    margin-top: 0;
    font-size: 30px;
    margin-left: 0%;
    font-family: 'Roboto', sans-serif;
}

h4{
    font-size: 30px;
    margin-top: -22%;
    margin-left: -17%;
    font-family: 'Roboto', sans-serif;
}

.history-entry {
    margin-top: 10px;
    font-size: 14px;
    margin-left: -60%;
    font-family: 'Roboto', sans-serif;
}

.category-container {
    width: 11%; /* Takes the full width of the sidebar */
    margin-top: 20px;
    padding: 10px;
    background-color: #645CBB;
    border-radius: 10px;
    margin-left: 0%;
    margin-top: 28%;
    bottom: 0; 
    position: fixed;
}

.category-select {
    width: 100%; /* Ensures the select box takes the full width */
    padding: 10px;
    border-radius: 5px;
    background-color: #BFACE2;
    color: #000;
    font-size: 16px;
}

.category-select:focus {
    outline: none;
    border-color: #d29898; /* Color change on focus */
}

li{
    text-align: left;
    margin-left: -100px;
}

.menu{
    display: none;
}

/* Full-screen Loading Overlay */
.loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    text-align: center;
    padding-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centers content horizontally and vertically */
  }
  
  /* Style for the loading GIF */
  .loading-gif {
    width: 100px;
    height: 100px; /* Adjust the size */
    position: center;
  }
  
  /* Styling for the loading message */
  .loading-content p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    position: center;
  }

  .speaker-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
  }
  
h2{
    display: none;
}

/* Adjust margin for mobile view */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    .form-horizontal .control-label {
        text-align: left;
    }

    .form-horizontal .col-sm-offset-2 {
        margin-left: 0;
    }
}

@media (max-width: 700px) {
    h2{
        margin: 50px 0;
        color: #36454F;
        display: block;
        position: fixed;
        margin-top: -5%;
        margin-left: 35%;
        font-family: Arial black, Helvetica, sans-serif;
    }
    .typing-effect{
        flex-direction: column-reverse;
        margin: 50px 0;
        font-size: 50px;
        margin-left: -10%;
        margin-top: 0%;
        margin-right: auto;
    }
    .sidebar{
        display: none;
    }
    .container{
        background-color: transparent;
        padding: 1px;
        position: fixed;
        bottom: 40%; /* Sticks to the bottom of the screen */
        width: auto;
        margin-left: auto;
        border-radius: 30px;
    }
    .form-control{
        background-color: #A9A9A9;
        margin: auto;
        margin-left: 20%;
        margin-right: auto;
    }
    .btn-success{
        margin: auto;
        margin-left: 45%;
        margin-right: auto;
        background-color: #A9A9A9;
        position: fixed;
        margin-top: -4%;
    }
    .user{
        margin: 10px 0;
    }
    .tab{
        display: block;
    }
}

@media (max-width: 584px){
    h2{
        margin: 50px 0;
        display: block;
        position: fixed;
        margin-top: -8%;
        margin-left: 30%;
        font-family: Arial black, Helvetica, sans-serif;
    }
    .typing-effect{
        flex-direction: column-reverse;
        margin: 45px 0;
        font-size: 40px;
        margin-left: -21%;
        margin-top: 0%;
        margin-right: auto;
    }
    .form-control{
        background-color: #A9A9A9;
        margin: auto;
        margin-left: 10%;
        margin-right: auto;
    }
    .btn-success{
        margin: auto;
        margin-left: 35%;
        margin-right: auto;
        background-color: #A9A9A9;
        position: fixed;
        margin-top: -4%;
    }
}

@media (max-width: 490px){
    h2{
        margin: 50px 0;
        display: block;
        position: fixed;
        margin-top: -8%;
        margin-left: 30%;
        font-family: Arial black, Helvetica, sans-serif;
    }
    .typing-effect{
        flex-direction: column-reverse;
        margin: 50px 0;
        font-size: 40px;
        margin-left: -10%;
        margin-top: 0%;
        margin-right: auto;
    }
    .form-control{
        background-color: #A9A9A9;
        margin: auto;
        margin-left: 10%;
        margin-right: auto;
    }
    .btn-success{
        margin: auto;
        margin-left: 20%;
        margin-right: auto;
        background-color: #A9A9A9;
        position: fixed;
        margin-top: -4%;
    }
}

@media (max-width: 392px){
    .menu{
        display: block;
        position: fixed;
        width: 60px;
        height: 60px;
        margin-top: -125px;
        z-index: 1001;
    }
    .sidebar {
        display: block;
        position: fixed;
        top: 0;
        left: -250px; /* Start off-screen */
        width: 250px;
        height: 110%;
        background-color: #A9A9A9;
        box-shadow: 2px 0 5px rgb(77, 77, 77);
        transition: left 0.3s ease; /* Smooth transition */
        z-index: 1000;
      }
      
      .sidebar.visible {
        left: 0; /* Bring the sidebar into view */
      }

    h1{
        margin: 0;
        margin-left: -15px;
        margin-top: -37px;
        font-family: Arial, Helvetica, sans-serif;
        color: #36454F;
    }

    h4{
        margin: 30px 0;
        font-family: Arial, Helvetica, sans-serif;
        color: #263138;
    }
    .content{
        position: static;
    }
    h2{
        margin: 50px 0;
        display: block;
        position: fixed;
        margin-top: -10%;
        margin-left: 23%;
        font-family: Arial black, Helvetica, sans-serif;
    }
    .typing-effect{
        flex-direction: column-reverse;
        margin: 50px 0;
        font-size: 35px;
        margin-left: -16%;
        margin-top: 0%;
        margin-right: auto;
    }
    .form-control{
        background-color: #A9A9A9;
        margin: auto;
        margin-left: 5%;
        margin-right: auto;
        z-index: 500;
    }
    .btn-success{
        margin: auto;
        margin-left: 5%;
        margin-right: auto;
        background-color: #A9A9A9;
        position: fixed;
        margin-top: -5%;
    }
    .user{
        display: block;
        margin-left: 82%;
    }
}
.list-group {
    background: transparent;
    border: none;
  }

  .list-group-item {
    background: transparent;
    border: none;
    padding: 10px 15px;
    color: #fff;
  }

  .list-group-item:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  .list-group-item button {
    color: inherit;
    font-size: 16px;
    text-align: left;
    padding: 10px 15px;
    width: 100%;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    border: none;
  }

  .list-group-item button:hover {
    background: rgba(255, 255, 255, 0.1);
  }