body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
<<<<<<< HEAD
    background-color: #E5E4E2;
=======
    background-color: #ECF2FF;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
    background-image: url('/static/images/ava5.png/');
    background-repeat: no-repeat;
    background-position-x: 1150px;
    background-position-y: 220px;
    background-size: 620px
}

#horizontal-line{
    width : 50%;
    height: 7px;
    border: 0 none;
    margin-right: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 90px;
<<<<<<< HEAD
    background-color: #36454F;
}

h1 {
    color: #36454F;;
    font-size: 100px;
    margin-right: 910px;
    margin-left: 20px;
    font-family: Arial black, Helvetica, sans-serif;
}

h4 {
    color: #36454F;
    font-size: 35px;
    margin-right: 890px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: #36454F;
    font-size: 20px;
    margin-right: 890px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
=======
    background-color: #645CBB;
}

h1 {
    color: #645CBB;;
    font-size: 100px;
    margin-right: 910px;
    margin-left: 20px;
}

h4 {
    color: #645CBB;
    font-size: 35px;
    margin-right: 890px;
    margin-left: 20px;
}

p {
    color: #645CBB;
    font-size: 20px;
    margin-right: 890px;
    margin-left: 20px;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
}

.buttons {
    margin-top: 40px;
    margin-right: 900px;
    margin-left: 20px;
}
.btn {
<<<<<<< HEAD
    background-color: #A9A9A9;
=======
    background-color: #BFACE2;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
    color: black;
    padding: 25px 70px;
    margin: 30px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 50px;
}
.btn:hover {
    background-color: #E5D1FA;
}

.button {
    margin-top: 100px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 20px;
    display: flex;

}

.btn1{
<<<<<<< HEAD
    color: #36454F;
    margin-right: 220px;
    margin-left: 0px;
    padding: 10px 20px;
    background-color: #E5E4E2;
=======
    color: #645CBB;
    margin-right: 220px;
    margin-left: 0px;
    padding: 10px 20px;
    background-color: #ECF2FF;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
    border: #FFF8E8;
    font-size: 30px;
}

.btn2{
<<<<<<< HEAD
    color: #36454F;
    margin-right: 240px;
    margin-left: 0px;
    padding: 10px 20px;
    background-color: #E5E4E2;
=======
    color: #645CBB;
    margin-right: 240px;
    margin-left: 0px;
    padding: 10px 20px;
    background-color: #ECF2FF;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
    border: #FFF8E8;
    font-size: 30px;
}

.btn3{
<<<<<<< HEAD
    color: #36454F;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px 20px;
    background-color: #E5E4E2;
=======
    color: #645CBB;
    margin-right: 0px;
    margin-left: 0px;
    padding: 10px 20px;
    background-color: #ECF2FF;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
    border: #FFF8E8;
    font-size: 30px;
}

.btn1:hover{
<<<<<<< HEAD
    color: #A9A9A9;
}

.btn2:hover{
    color: #A9A9A9;
}
.btn3:hover{
    color: #A9A9A9;
}

a{
    color: #36454F;
}
 
a:hover{
    color: #A9A9A9;
}

/* Responsive adjustment for smaller screens */
@media (max-width: 700px) {
    .button {
        margin-top: -10%;
        margin-left: 20px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }
    .btn1{
        margin: auto;
        font-size: 15px;
        padding: 10px 5px;
    } 
    .btn2{
        margin: auto;
        font-size: 15px;
        padding: 10px 5px;
    } 
    .btn3{
        margin: auto;
        font-size: 15px;
        padding: 10px 5px;
    }
    #horizontal-line{
        width: 90%;
    }
    h1{
        flex-direction: column-reverse;
        margin: 50px 0;
        font-size: 50px;
        margin-top: -20%;
        margin-left: -3%;
    }
    h4{
        font-size: 20px;
        margin: 50px 0;
    }
    .buttons{
        margin-left: 25%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .btn{
        margin: auto;
        padding: 20px 40px;
        font-size: 20px;
        position: fixed;
    }
}

@media (max-width: 390px) {
    .button {
        margin-top: -10%;
        margin-left: 20px;
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }
    .btn1{
        margin: auto;
        font-size: 15px;
        padding: 10px 5px;
    } 
    .btn2{
        margin: auto;
        font-size: 15px;
        padding: 10px 5px;
    } 
    .btn3{
        margin: auto;
        font-size: 15px;
        padding: 10px 5px;
    }
    #horizontal-line{
        width: 90%;
    }
    h1{
        flex-direction: column-reverse;
        margin: 50px 0;
        font-size: 50px;
        margin-top: -20%;
        margin-left: -12%;
    }
    h4{
        font-size: 20px;
        margin: 50px 0;
    }
    .buttons{
        margin-left: 20%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .btn{
        margin: auto;
        padding: 20px 40px;
        font-size: 20px;
        position: fixed;
    }
=======
    color: #E5D1FA;
}

.btn2:hover{
    color: #E5D1FA;
}
.btn3:hover{
    color: #E5D1FA;
}

a{
    color: #645CBB;
}
 
a:hover{
    color: #E5D1FA;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
}