/* Center the container on the page */
body {
    font-family: Arial, sans-serif;
    text-align: center;
<<<<<<< HEAD
    background-color: #E5E4E2;
=======
    background-color: #ECF2FF;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
    background-image: url('/static/images/ava7.png');
    background-size: 600px;
    background-position-x: 900px;
    background-position-y: 120px;
    background-repeat: no-repeat;
}

h1{
<<<<<<< HEAD
    color: #36454F;
    font-size: 55px;
    margin-top: 90px;
=======
    color: #645CBB;
    font-size: 55px;
    margin-top: 100px;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: 850px;
    text-align: center;
<<<<<<< HEAD
    font-family: Arial black, Helvetica, sans-serif;
=======
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
}

h2{
    font-size: 35px;
    color: #1e1b3a;
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
=======
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
}

/* Container for the login form */
.container {
<<<<<<< HEAD
    background-color: #A9A9A9;
=======
    background-color: #E3DFFD;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
    padding: 30px;
    border-radius: 35px;
    width: 340px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 2);
    margin-right:660px;
    margin-left: 320px;
}

/* Form elements */
<<<<<<< HEAD
=======
.form-group {
    margin-bottom: 15px;
}
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
<<<<<<< HEAD
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
=======
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
}

input {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
<<<<<<< HEAD
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
=======
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
}

.btn{
    color: black;
    font-weight: bold;
}

button.btn {
    width: 50%;
<<<<<<< HEAD
    background-color: #E5E4E2;
=======
    background-color: #BFACE2;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
    color: black;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

button.btn:hover {
<<<<<<< HEAD
    background-color: #A9A9A9;
=======
    background-color: #E5D1FA;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
}

/* Optional link style */
a {
    text-decoration: none;
    color: #4CAF50;
}
a:hover {
    text-decoration: underline;
}

p {
    font-size: 14px;
<<<<<<< HEAD
    font-family: 'Roboto', sans-serif; /* Use the Google Font you selected */
    font-size: 16px;
    line-height: 1.6;
=======
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
}

a {
    color: black;
}

<<<<<<< HEAD
.form-group {
    margin-bottom: 15px;
    position: relative; /* Make this the positioning context for the child elements */
}

.eyecon {
    position: absolute; /* Position the eye icon relative to the .form-group container */
    width: 35px; /* Adjust the size of the icon */
    cursor: pointer;
    right: 10px; /* Distance from the right edge of the password input field */
    top: 55px; /* Vertically center it */
    transform: translateY(-50%); /* Adjust for perfect centering */
}

@media (max-width: 390px) {
    h1{
        flex-direction: column-reverse;
        margin: 50px 0;
        font-size: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .container {
        margin: 50px 0;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
    .eyecon{
        top: 55px;
    }
}
=======
.eyecon{
    position: absolute;
    width: 35px;
    cursor: pointer;
    right: 1240px;
    top: 500px;
}
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
