/* Center the container on the page */
body {
    font-family: Arial, sans-serif;
    text-align: center;
<<<<<<< HEAD
    background-color: #E5E4E2;
=======
    background-color: #ECF2FF;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
    background-image: url('/static/images/ava6.png');
    background-size: 600px;
    background-position-x: 900px;
    background-position-y: 120px;
    background-repeat: no-repeat;
}

h1{
<<<<<<< HEAD
    color: #36454F;
=======
    color: #645CBB;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
    font-size: 55px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: 900px;
    text-align: center;
<<<<<<< HEAD
    font-family: Arial black, Helvetica, sans-serif;
=======
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
}

h2{
    font-size: 35px;
    color: #1e1b3a;
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif;
=======
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
}

       /* Add some basic styling for the error state */
.error {
    border: #FFF8E8;
}
.error-message {
    color: red;
    font-size: 0.9em;
    display: none; /* Hidden by default */
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif;
=======
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
}
.error-message.show {
    display: block; /* Show when there's an error */
}

/* Container for the login form */
.container {
<<<<<<< HEAD
    background-color: #A9A9A9;
=======
    background-color: #E3DFFD;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
    padding: 30px;
    border-radius: 35px;
    width: 300px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 2);
    margin-right:660px;
    margin-left: 320px;
}

/* Form elements */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
}

.btn{
    color: black;
    font-weight: bold;
}

button.btn {
    width: 50%;
<<<<<<< HEAD
    background-color: #E5E4E2;
=======
    background-color: #BFACE2;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
    color: black;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

button.btn:hover {
<<<<<<< HEAD
    background-color: #A9A9A9;
=======
    background-color: #E5D1FA;
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
}

/* Optional link style */
a {
    text-decoration: none;
    color: black;
<<<<<<< HEAD
    font-family: Arial, Helvetica, sans-serif;
=======
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
}
a:hover {
    text-decoration: underline;
}

.password-requirements {
     display: none; /* Hidden by default */
     color: red;   /* Red color for warning text */
     margin-top: 5px; /* Space above the requirements */
}

.password-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #F9E8C9;
      color: black;
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      margin-left: 5px;
      cursor: pointer;
}

.form-group.error .password-requirements {
     display: block; /* Show requirements on error */
}

.eyecon{
<<<<<<< HEAD
    position: fixed;
    width: 35px;
    cursor: pointer;
    right: 1275px;
    top: 592px;
}

@media (max-width: 390px) {
    h1{
        flex-direction: column-reverse;
        margin: 50px 0;
        font-size: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .container {
        margin: 50px 0;
        margin-left: auto;
        margin-right: auto;
    }
    .eyecon{
        position: fixed;
        width: 35px;
        cursor: pointer;
        right: 60px;
        top: 485px;
    }
}
=======
    position: absolute;
    width: 35px;
    cursor: pointer;
    right: 1275px;
    top: 577px;
}
>>>>>>> 057cc2618fadd523b2b5611d26eb1d71b1f8a68f
